/*
*   Everything
*/

.main{
    padding-top: 7%;
    padding-bottom: 10%;
    height: auto !important;
}

.gp14-card{
    background-color: transparent;
    // background-color: #00aeda;
    border: none;
    color: white;
}

.buy-card{
    background-color: transparent !important;
    border: none !important;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    color: white !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: linear-gradient(45deg, #1de099, #1dc8cd) !important;
}

.custom-select {
    background-color: white !important;
    border: 1px solid white !important;
    color: #000 !important;
}

.form-control {
    background-color: white !important;
}

#modal {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
}
